@use "../utils/typography" as *;

html {
  font-size: 62.5%;

  @media screen and (max-width: 767px) {
    font-size: calc(10px + 13 * (100vw - 375px) / 447);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: calc(10px + 4 * (100vw - 768px) / 255);
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    font-size: calc(7.5px + 2 * (100vw - 1024px) / 336);
  }
}

body {
  @include text;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--app-background);
}

img {
  display: block;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  border: none;
  background: none;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
