html {
  --app-background: rgba(240, 245, 245, 1);
  --accent-color: rgba(8, 216, 153, 1);
  --text-color: rgba(9, 35, 38, 1);
  --text-contrast-color: rgba(255, 255, 255, 1);
  --text-secondary-color: rgba(103, 103, 103, 1);
  --text-tertiary-color: rgba(149, 149, 150, 1);
  --grayscale-icon-color: rgba(171, 182, 183, 1);
  --border-color: rgba(205, 210, 221, 1);
  --button-box-shadow: 0 0.8rem 1.6rem 0 rgba(8, 216, 153, 0.2);

}
