
@mixin font($fontFamily: '', $fontFolderName: '', $fontWeight: 400, $fontStyle: normal, $fontDisplay: swap) {
  @font-face {
    font-family: $fontFamily;
    src: url('/fonts/#{$fontFolderName}/#{$fontWeight}.woff2') format('woff2'),
    url('/fonts/#{$fontFolderName}/#{$fontWeight}.woff') format('woff');
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-display: $fontDisplay;
  }
}

@include font('Manrope', 'Manrope', 400);
@include font('Manrope', 'Manrope', 500);
@include font('Manrope', 'Manrope', 600);
@include font('Manrope', 'Manrope', 700);

